*{
	margin: 0;
	padding:0;
}

body{
	background-color: #FFFFF0;
}

h2{
	text-align: center;
	font-family: monospace, serif;

}

header{
	background-color: silver;
	border: 1px solid #707070;
	position: relative;
	width: 41.64em;
	height: 137px;
	margin: 0 auto;
}

nav{
		width:100%;
		position: absolute;
		margin-top: 50px;
		font-family: arial, verdana, sans-serif;
		
}

ul, ol{
		list-style:none;
}

#unav > ul{
  width: 41.64em;
}
		
#unav li a {
    text-decoration:none;
		padding: 20px;
		background-color: #202020;
		color: #D2D2D2;
    margin: -1px;
		display:block;
		border: 1px solid #333;
		-webkit-border-radius: 1px;
    -moz-border-radius: 1px;
		-o-border-radius: 1px;
		-ms-border-radius: 1px;
		-webkit-transition: background-color 0.5s ease-in;
		-moz-transition: background-color 0.5s;
		-o-transition: background-color 0.5s;
		-ms-transition: background-color 0.5s;
}

#unav > li {
		float:left;
}

#unav li ul{
		/*display:none;*/
		opacity: 0; 
		position:absolute;
		min-width:130px;
		-webkit-transition: opacity 0.3s;
		-moz-transition: opacity 0.3s;
		-o-transition: opacity 0.3s;
		-ms-transition: opacity 0.3s;
		
}


#unav li:hover > ul{
		display:block;
		opacity: 1;
		margin-top: 1px;
		-webkit-transition: opacity 0.5s;
		-moz-transition: opacity 0.5s;
		-o-transition: opacity 0.5s;
		-ms-transition: opacity 0.5s;
		}

#unav li a:hover {
        background-color: #707070;
        cursor: pointer;
		    color:#fff;
		    border-top: 2px solid #FF6600;
		-webkit-transition: background-color 0.5s ease-in;
		-moz-transition: background-color 0.5s;
		-o-transition: background-color 0.5s;
		-ms-transition: background-color 0.5s;
}

#unav li a:active {
        background-color: #3B3B3B; 
}
